<div class="list-container">
  <div class="list-toolbar">
    <div class="list-search-input-wrapper">
      <input class="list-search-input" placeholder="search added medications" (input)="onSearch($event)" />
    </div>
    <div class="add-medication-action" (click)="add()">Add medications</div>
  </div>
  <div class="list-table-part">
    <div class="list-table">
      <div class="list-table-header">
        <div class="list-table-header-cell">Medication</div>
        <div class="list-table-header-cell">Dosage</div>
        <div class="list-table-header-cell">Frequency</div>
        <div class="list-table-header-cell">Last updated</div>
        <div class="list-table-header-action"></div>
        <div class="list-table-header-scroll-space"></div>
      </div>
      <div class="list-table-body">
        <div class="list-table-row" *ngFor="let item of filteredMedications$ | async; index as index"
          [ngClass]="index % 2 !==0 ? 'list-table-row-odd' : ''">
          <div class="list-table-body-cell">{{item.name}}</div>
          <div class="list-table-body-cell">{{item.dosage + ' ' + item.unit}}</div>
          <div class="list-table-body-cell">{{item.days}} - {{item.times}}</div>
          <div class="list-table-body-cell">{{item.lastUpdated | date: 'dd MMMM yyyy'}}</div>
          <div class="list-table-body-action">
            <div class="edit-medication-action" (click)="editMeication(item)">Edit</div>
            <div class="delete-medication-action" (click)="deleteMeication(item)">Delete</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>